@{
    ViewData["Title"] = "Reset password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<h5 class="text-success">
    To reset password follow link on your e-mail!.
</h5>
