@{
    Layout = "_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <div class="row m-lg-5">
            <div class="col-lg-4">
                <img src="https://via.placeholder.com/150" />
            </div>
            <div class="col-lg-4">
                <img src="https://via.placeholder.com/150" />
            </div>
            <div class="col-lg-4">
                <img src="https://via.placeholder.com/150" />
            </div>
        </div>
        <div class="row m-lg-5">
            <div class="col-lg-4">
                <img src="https://via.placeholder.com/150" />
            </div>
            <div class="col-lg-4">
                <img src="https://via.placeholder.com/150" />
            </div>
            <div class="col-lg-4">
                <img src="https://via.placeholder.com/150" />
            </div>
        </div>
        <div class="row m-lg-5">
            <div class="col-lg-4">
                <img src="https://via.placeholder.com/150" />
            </div>
            <div class="col-lg-4">
                <img src="https://via.placeholder.com/150" />
            </div>
            <div class="col-lg-4">
                <img src="https://via.placeholder.com/150" />
            </div>
        </div>
        @RenderBody()
    </div>
</body>
</html>
